.mainhome_body_class {

.owl-carousel {

}
.oc__item {
  background: rgba(0, 0, 0, .5);
  a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  &__content {
    width: 100vw;
    height: 120vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__media {
      position: absolute;
      background-size: 'cover';
      background-position: center center;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      video {
        object-fit: fill;
      }
    }
    &__text {
      z-index: 2;
      width: 100%;
      height: 100%;
    }
  }
}















}
