.maincategory {
  display: flex;
  width: 100%;
  padding: 0 50px 30px 80px;
  &__content {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.four {
  .mcard {
    transition: all 1s;
    flex: 25%;
    flex-grow: 0;
    flex-shrink: 0;

    figcaption {
      text-align: center;
    }
    &.double {
      flex: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    &.single {

    }
  }
}

.mcard {
  a {
    text-decoration: none;
    color: black;
    display: block;
  }
  position: relative;
  transition: all 1s;
  flex: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  &.double {
    flex: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    a {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
  &__content {
  }
 figure {
  text-align: center;
  video {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  figcaption {
    padding-top: 20px;
    text-align: left;
    p {
      padding: 0;
      margin: 0;
      font-size: 12px;
      &.bold {
        font-weight: bold;
      }
    }
  }
 }
}
