.hs1 {

}
.hs2 {

}
.hs3 {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  .small_sup {
    position: absolute;
    font-size: 9px;
    top: 3px;
    padding-left: 4px;
  }
}

.white_menu {
  #sidebar_nav {
    color: white;
  }
}

#sidebar_nav {
  // top: 115px;
  // width: 350px;
  // padding: 0 28px 0 20px;
  // padding-left: 80px;
  // background: #fff;
  // overflow-y: scroll;

  // top: 115px;
  // width: 350px;
  // padding: 0 28px 0 20px;
  // padding-left: 80px;
  // background: #fff;
  // overflow-y: scroll;
  // text-align: left;
  // display: flex;
  // justify-content: flex-end;
  min-width: 250px;

  small {
    font-size: 9px;
    font-weight: normal;
  }
  a {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 2px 0;
    position: relative;
    a {
      text-transform: uppercase;
      font-size: 13px;
      &.special {
        color: $special_color;
      }
      .small_sup {
        position: absolute;
        font-size: 9px;
        top: 3px;
        padding-left: 4px;
      }
    }
  }
}


#info_plus {
  cursor: pointer;
}
.sidebar_info_box {
  display: none;
  &.active {
    display: block;
  }
}

.singleproduct_body_class {
  #sidebar_nav {
    display: none;
    position: fixed;
    transition: all .2s;
    top: 115px;
    left: 0;
    min-width: calc(230px + 80px);
    z-index: 1;
    background: white;
    height: 120vh;
    .sidebar_nav_content {
      padding-left: 80px;
      height: calc(100vh - 140px);
      overflow-y: scroll;
    }
  }
  .logo_image_anchor {
    transition: all .2s;
  }
  .active_sidebar {
    #sidebar_nav {
      display: block;
      transition: all .2s;
    }
    .span_block {
      opacity: 0;
    }
    .logo_image_anchor {
      transition: all .2s;
      transform: translateX(-56px);
    }
  }
}

.mainhome_body_class {
  position: relative;
  #sidebar_nav {
    position: fixed;
    transition: all .2s;
    top: 115px;
    left: 80px;
    min-width: 230px;
    z-index: 2;
    // background: rgba(255, 255, 255, 0.3);
    background: transparent;
    .sidebar_nav_content {
      height: calc(100vh - 140px);
      overflow-y: scroll;
    }
  }
  footer {
    position: relative;
    z-index: 2;
    background: #fff;
  }
}
