@font-face {
    font-family: 'HelveticaNeue ThinCond';
    src: url('HelveticaNeueThinCond-CondensedRegularThin.eot');
    src: url('HelveticaNeueThinCond-CondensedRegularThin.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueThinCond-CondensedRegularThin.woff2') format('woff2'),
        url('HelveticaNeueThinCond-CondensedRegularThin.woff') format('woff'),
        url('HelveticaNeueThinCond-CondensedRegularThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Condensed';
    src: url('HelveticaNeueCondensed-CondensedRegular.eot');
    src: url('HelveticaNeueCondensed-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCondensed-CondensedRegular.woff2') format('woff2'),
        url('HelveticaNeueCondensed-CondensedRegular.woff') format('woff'),
        url('HelveticaNeueCondensed-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Condensed';
    src: url('HelveticaNeueCondensed-CondensedRegular_1.eot');
    src: url('HelveticaNeueCondensed-CondensedRegular_1.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCondensed-CondensedRegular_1.woff2') format('woff2'),
        url('HelveticaNeueCondensed-CondensedRegular_1.woff') format('woff'),
        url('HelveticaNeueCondensed-CondensedRegular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Condensed';
    src: url('HelveticaNeueCondensed-CondensedBold.eot');
    src: url('HelveticaNeueCondensed-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCondensed-CondensedBold.woff2') format('woff2'),
        url('HelveticaNeueCondensed-CondensedBold.woff') format('woff'),
        url('HelveticaNeueCondensed-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

